* {
  margin: 0px;
}

body {
  text-align: center;
}

h1 {
  margin: 20px 0;
  text-align: center;
}

img {
  height: 30px;
  width: 30px;
}

input {
  /*margin-left: 10px;*/
  /*margin-right: -5px;*/
  padding: 10px;
  width: 300px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select {
  background-color: #FFFFFF;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
  background-position: 75px center;
  background-repeat: no-repeat;
  border-radius: 0;
  padding: 10px;
  width: 100px;
  -webkit-appearance: none;
}

.inactive {
  /*display: none;*/
  visibility: hidden;
}

.palette-display {
  display: flex;
  justify-content: center;
}

.palette {
  height: 200px;
  text-align: center;
  width: 200px;
  background-color: grey;
}

.palette-details {
  opacity: 0.9;
  position: relative;
  top: 120px;
}

.generate-button {
  border: none;
  background-color: grey;
  margin: 40px 0;
  padding: 10px 30px;
}

.save-palette {
  border-bottom: 1px solid grey;
  margin: auto;
  padding-bottom: 30px;
  width: 60%;
  display: flex;
  justify-content: center;
}

.save-project {
  margin-top: 30px;
  display: flex;
  margin: auto;
  width: 60%;
  justify-content: center;
}

.save-palette-button,
.save-project-button {
  padding: 10px 0;
  width: 100px;
  border: 1.5px solid grey;
  background: grey;
}

.save-palette-button {
  margin-left: 25px;
}

#project-name {
  width: 425px;
}

.color {
  width: 30px;
  height: 30px;
}

.active {
  font-size: 0.9rem;
  position: relative;
  bottom: -10px;
  right: 305px;
/*  width: 100px;*/
  animation: scroll-up 1s linear normal;
  transform: translateY(-20px); 
}

.project-display {
  margin: 30px 0;
}

h3 {
  margin: auto;
  width: 40%;
}

.palette-single {
  width: 50%;
  justify-content: center;
  margin: 20px auto;
  display: flex;
}

.saved-palette {
  display: flex;
  margin: 0 20px;
}

@keyframes scroll-up {
  0% { 
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-20px); 
    opacity: 1;
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*label {
    position: absolute;
    top: 15px;
    left: 8px;
    color: #909090;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-in-out;
  }*/